<div class="glossaire-container">

  <div class="main-container">
    <div class="left">
      <img src="/logoBlanc.png" class="logo" (click)="goHome()" alt="Logo">
    </div>

  <h1 class="title">Glossaire</h1>

  <!-- Champ de recherche -->
  <div class="search-container">
    <input
      type="text"
      placeholder="Rechercher par nom, description ou lien..."
      [(ngModel)]="searchQuery"
      (input)="applyFilter()"
      class="search-input"
    />
  </div>

  <div *ngIf="glossaires.length > 0; else noData">
    <div class="glossaire-scrollable">
      <div *ngFor="let item of filteredGlossaires" class="glossaire-item">
        <h2 class="glossaire-title">{{ item.nom }}</h2>
        <p class="glossaire-definition">{{ item.definition }}</p>
      </div>
    </div>
  </div>

  <ng-template #noData>
    <p class="no-data-message">Aucune donnée disponible.</p>
  </ng-template>
</div>
