<div class="rapport-container">
  <!-- En-tête -->
  <div class="rapport-header">
    <h1>Rapport d'impact et Pacte d'engagement</h1>
    <p class="subtitle">Entreprise : {{ rapportData.client.nom_entreprise }}</p>
  </div>

  <!-- Bloc principal -->
  <div class="rapport-body">
    <div class="graph-container">
      <!-- Graphique -->
      <div class="graph">
        <canvas id="gaugeChart"></canvas>
      </div>

      <!-- Texte explicatif -->
      <div class="text">
        <h2 class="score-title">Score {{rapportData.client.nom_entreprise}} : {{ rapportData.scores.score_total }}</h2>
        <ul>
          <li>Les pratiques environnementales, sociales et de gouvernance (ESG) au sein de l’entreprise.</li>
          <li>Le Pacte d’engagement composé des actions que l’entreprise s’est engagée à mettre en place d’ici 2 ans.</li>
        </ul>
      </div>
    </div>
    <!-- Légende -->
    <div class="legend">
      <span class="legend-item" style="background-color: #A6B1E1">Insuffisant</span>
      <span class="legend-item" style="background-color: #88CCF1">Bon</span>
      <span class="legend-item" style="background-color: #B8E986">Très bon</span>
      <span class="legend-item" style="background-color: #6ACD8D">Excellent</span>
    </div>
    
  </div>


  <!-- Nouveau graphique -->
  <div class="graph-container-second">
    <h2 class="score-title">Pratiques et engagements ESG</h2>
    <div class="graph">
      <canvas id="engagementChart"></canvas>
    </div>
 
   <!-- Légende personnalisée -->
   <div class="legend">
    <span class="legend-item" style="background-color: #88CCF1">Score ESG actuel</span>
    <span class="legend-item" style="background-color: #B8E986">Score d’engagement</span>
    
  </div>
  <p>**Poser la souris sur le graphique pour voir les différents résultat<p>

  </div>


<!-- Section pour les domaines (E, S, G) -->
<div class="domain-switch-container">
  <h2 class="domain-title">
    Pratiques et engagements - {{ rapportData?.domains[currentDomainIndex]?.name }}
  </h2>

  <div class="navigation-buttons">
    <!-- Boutons pour changer de domaine -->
    <button (click)="switchDomain('prev')">←</button>
    <div class="graph">
      <canvas id="domainSwitchChart"></canvas>
    </div>
    <button (click)="switchDomain('next')">→</button>
  </div>

  <div class="legend">
    <span class="legend-item" style="background-color: #88CCF1">Score ESG actuel</span>
    <span class="legend-item" style="background-color: #B8E986">Score d’engagement</span>
    
  </div>
  <p>**Poser la souris sur le graphique pour voir les différents résultat<p>


  <!-- Tableau des engagements du domaine actuel -->
  <table class="engagement-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Engagements de {{ rapportData.client.nom_entreprise }} : {{ getEngagementPeriod() }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let engagement of rapportData?.domains[currentDomainIndex]?.engagements; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ engagement }}</td>
      </tr>
    </tbody>
  </table>
</div>


  <!-- Pied de page -->
  <footer>
    <p>Date du rapport : {{ currentDate | date: 'dd/MM/yyyy' }}</p>
  </footer>
</div>
