# Python
*.pyc
__pycache__/
db.sqlite3

# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnement Docker
.env
docker-compose.override.yml
/backend/venv/


# IDE/Éditeurs
.vscode/
*.swp
.idea/

# Logs
*.log

# System files
.DS_Store
._*
Thumbs.db

# Django
**/migrations/
