<div class="home-container">
  <h1>Bienvenue sur votre espace entreprise</h1>
  
  <button *ngIf="est_termine"
  class="btn" 
  [disabled]="!allAnswersValidated" 
  (click)="navigateToPacte()" 
  matTooltip="Votre Pacte est en cours de verification" 
  [matTooltipDisabled]="allAnswersValidated">
  Pacte d'Engagement
</button>
  
  <div *ngIf="!est_termine">
    <p *ngIf="estValide == 'N/D'">Votre entreprise est en cours de vérification</p>
    <button *ngIf="estValide == 'validée'" class="btn" (click)="navigateToFormulaire()">Accéder au formulaire</button>
    <p *ngIf="estValide == 'refusée'">
      Votre entreprise a été refusée (Raison: {{ raison_refus }}). Pour en savoir plus veuillez contacter le support : contact&#64;shiftingpact.be
    </p>
      </div>
</div>