<div class="form-container">
  <!-- Flèche gauche -->
  <button class="side-button left-button" (click)="previousQuestion()"><</button>

  <!-- Formulaire -->
  <form class="simple-form">
    <!-- Conteneur pour Aujourd'hui et Pacte d'engagement -->
    <div class="header-container">
      <div
        class="aujourdhui"
        [class.active]="activeTab === 'aujourdhui'"
        (click)="switchTab('aujourdhui')"
      >
        <p>Aujourd'hui</p>
      </div>
      <div
        class="engagement"
        [class.active]="activeTab === 'engagement'"
        (click)="switchTab('engagement')"
      >
        <p>Pacte d'engagement (Dans les 2 ans)</p>
      </div>
    </div>

    <!-- Numéro et Texte de la question dans un conteneur commun -->
    <div class="question-container">
      <div class="question-number">{{ currentQuestion.number }}</div>
      <div class="question-text">{{ currentQuestion.text }}</div>
    </div>

    <div class="question-options">
      <!-- Type Radio -->
      <ul *ngIf="currentQuestion?.type === 'radio'">
        <li *ngFor="let reponse of currentQuestion.reponses">
          <label>
            <input
              type="radio"
              [value]="reponse.text"
              name="answer"
              (change)="onReponseSelected(reponse)"
            />
            {{ reponse.text }}
          </label>
        </li>
      </ul>

      <!-- Type Checkbox -->
      <ul *ngIf="currentQuestion?.type === 'checkbox'">
        <li *ngFor="let reponse of currentQuestion.reponses">
          <label>
            <input
              type="checkbox"
              [value]="reponse.text"
              (change)="onCheckboxChange($event, reponse)"
            />
            {{ reponse.text }}
          </label>
        </li>
      </ul>

      <!-- Type Libre -->
      <div *ngIf="currentQuestion?.type === 'libre'">
        <textarea
          placeholder="Votre réponse (max 50000 caractères)..."
          [(ngModel)]="responses.aujourdhui"
        ></textarea>
      </div>
    </div>

    <!-- Bouton Confirmer -->
    <div class="confirm-button">
      <button type="button" (click)="confirmAnswer()">CONFIRMER</button>
    </div>
  </form>

  <!-- Flèche droite -->
  <button class="side-button right-button" (click)="nextQuestion()">></button>
</div>
