<div class="onboarding-container">
  <h2>Onboarding Questions</h2>

  <!-- Affichage du message de succès -->
  <div *ngIf="formSubmitted" class="success-message">
    {{ successMessage }}
  </div>

  <!-- Formulaire -->
  <form *ngIf="!formSubmitted" (ngSubmit)="submitForm()">
    <div *ngFor="let question of paginatedQuestions; let i = index" class="question-item">
      <div class="question-number">{{ currentPage * pageSize + i + 1 }}.</div>
      <div class="question-text">{{ question.question }}</div>
      
      <input
        *ngIf="currentPage * pageSize + i === 10 || currentPage * pageSize + i === 12"
        type="number"
        [id]="'question-' + (currentPage * pageSize + i)"
        [(ngModel)]="question.answer"
        name="question-{{ currentPage * pageSize + i }}"
        class="question-input"
      />
      
      <select
        *ngIf="currentPage * pageSize + i === 11 || currentPage * pageSize + i === 13 || currentPage * pageSize + i === 14 || currentPage * pageSize + i === 15 || currentPage * pageSize + i === 17"
        [id]="'question-' + (currentPage * pageSize + i)"
        [(ngModel)]="question.answer"
        name="question-{{ currentPage * pageSize + i }}"
        class="question-input"
      >
        <option [value]="true">Oui</option>
        <option [value]="false">Non</option>
      </select>
      
      <input
        *ngIf="currentPage * pageSize + i !== 10 && currentPage * pageSize + i !== 12 && currentPage * pageSize + i !== 11 && currentPage * pageSize + i !== 13 && currentPage * pageSize + i !== 14 && currentPage * pageSize + i !== 15 && currentPage * pageSize + i !== 17"
        type="text"
        [id]="'question-' + (currentPage * pageSize + i)"
        [(ngModel)]="question.answer"
        name="question-{{ currentPage * pageSize + i }}"
        class="question-input"
      />
    </div>

    <div class="pagination-buttons">
      <button type="button" (click)="previousPage()" [disabled]="currentPage === 0">Précédent</button>
      <button type="button" (click)="nextPage()" [disabled]="(currentPage + 1) * pageSize >= questions.length">Suivant</button>
    </div>

    <button type="submit" class="submit-button" [disabled]="!isFormValid()">Submit</button>
  </form>
</div>
