/* Variables de couleur */
$input-bg: #b5cdbf;
$primary-color: #3f4c76; // Couleur principale pour contraste du texte

.logo {
  position: absolute; /* Permet de positionner le logo par rapport à la fenêtre */
  top: 10px; /* Distance par rapport au haut de la page */
  left: 10px; /* Distance par rapport à la gauche de la page */
  height: 80px; /* Ajuste la hauteur du logo */
  z-index: 100; /* S'assure que le logo est au-dessus des autres éléments */
}

.login-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/images/background.png') no-repeat center center;
  background-size: cover; /* S'assure que l'image couvre toute la page */
  background-color: #013238;

  
  

  .login-form {
    position: relative;
    z-index: 2;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    background-color: #ffffff;
    opacity: 0.9;
    
    transform: translateY(-10%);

    .form-title {
      color : #013238;
      font-size: 24px;  
      margin-bottom: 30px; 
      font-weight: bold;
      user-select: none;
    }

    .logo-icon::before {
        content: '';
        display: block;
        width: 300px;
        height: 200px;
        margin: 0 auto; // Centre l'icône horizontalement
        background-image: url('../../assets/images/logoVert.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

    .input-group {
      position: relative;
      margin-bottom: 20px;
      
      .error-message {
        margin-top: 10px;
        font-size: bold;
      }

      i {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: #888;
      }

      input {
        padding: 10px 10px 10px 40px;
        border: 2px solid #013238;
        border-radius: 4px;
        background-color: transparent;
        color : #013238;
        font-size: 16px;

        &::placeholder {
          color: #013238;
          opacity: 0.7;
        }
      }
    }

    .btn-login {
      width: 70%;
      padding: 10px;
      border: 2px solid #013238;
      border-radius: 4px;
      background-color: transparent;
      color : #FFFFFF;
      background-color: #013238;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($input-bg, 10%);
      }
    }

    .forgot-password {
      display: inline-block;
      margin-top: 10px;
      color : #013238;
      text-decoration: none;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}