<div class="dialog-container">
  <h2 style="text-align: center;">Modifier les détails de l'entreprise</h2>

  <form (ngSubmit)="saveChanges()">
    <!-- Company Name -->
    <div class="field-container">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nom de l'entreprise</mat-label>
        <input matInput [(ngModel)]="company.nom_entreprise" name="nom_entreprise" placeholder="N/D" />
      </mat-form-field>
    </div>

    <!-- Email -->
    <div class="field-container">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="company.email" name="adresse_mail" placeholder="N/D" />
      </mat-form-field>
    </div>

    <!-- Numer TVA -->
    <div class="field-container">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Numéro TVA</mat-label>
        <input matInput [(ngModel)]="company.numero_tva" name="numero_tva" placeholder="N/D" />
      </mat-form-field>
    </div>

    <!-- Adresse Siege Social -->
    <div class="field-container">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Adresse du siège social</mat-label>
        <input matInput [(ngModel)]="company.adresse_siege_social" name="adresse_siege_social" placeholder="N/D" />
      </mat-form-field>
    </div>

    <!-- Site Web -->
    <div class="field-container">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Site Web</mat-label>
        <input matInput [(ngModel)]="company.adresse_site_web" name="site_web" placeholder="N/D" />
      </mat-form-field>
    </div>

  <!-- Code NACE -->
  <div class="field-container">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Code NACE</mat-label>
      <input matInput [(ngModel)]="company.code_nace_activite_principal" name="code_nace_activite_principal" placeholder="N/D" />
    </mat-form-field>
  </div>

    <!-- Chiffre d'affaires -->
    <div class="field-container">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Chiffre d'affaires</mat-label>
        <input matInput type="number" [(ngModel)]="company.chiffre_affaire_du_dernier_exercice_fiscal" name="chiffre_affaire" placeholder="N/D" />
      </mat-form-field>
    </div>

    <!-- Nombre de travailleurs -->
    <div class="field-container">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nombre de travailleurs</mat-label>
        <input matInput type="number" [(ngModel)]="company.nombre_travailleurs" name="nombre_travailleurs" placeholder="N/D" />
      </mat-form-field>
    </div>

  <!-- Is Company Valid -->
  <div class="field-container">
    <p class="field-label">Valider l'entreprise</p>
    <mat-radio-group [(ngModel)]="company.est_valide" name="est_valide">
      <mat-radio-button [value]="'validée'">Validée</mat-radio-button>
      <mat-radio-button [value]="'refusée'">Refusée</mat-radio-button>
      <mat-radio-button [value]="'N/D'">N/D</mat-radio-button>
    </mat-radio-group>
  </div>

<!-- Templates -->
<div class="field-container" *ngIf="company.est_valide === 'validée'">
  <p class="template-title">Templates</p>
  <div class="scrollable-checkbox-list">
    <mat-checkbox
      *ngFor="let template of templates"
      [(ngModel)]="template.selected"
      name="template_{{ template.id_template }}">
      {{ template.nom }}
    </mat-checkbox>
  </div>
</div>

<!-- Reason for Refusal -->
<div class="field-container" *ngIf="company.est_valide === 'refusée'">
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Raison du refus</mat-label>
    <textarea matInput [(ngModel)]="company.raison_refus" name="raison_refus" placeholder="N/D"></textarea>
  </mat-form-field>
</div>

  <div class="form-actions">
    <button mat-button color="warn" type="button" (click)="close()">Annuler</button>
    <button mat-raised-button color="primary" type="submit">Enregistrer</button>
  </div>
  </form>
</div>
