/* Global styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: visible;
}

/* Styling for the overall layout */
.mat-typography {
  background: url('assets/images/background.png') no-repeat center center;
  background-size: cover;
  background-color: #013238;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between; /* Space between left and right sections */
  align-items: center;
  background-color: #013238; /* Dégradé similaire */
  padding: 20px 20px;
  
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
}

/* Button styles */
.auth-button,
.dashboard-button,
.onboarding-button,
.formulaire-button,
#login-button,
#dashboard-button,
#engagement-button,
#glossaire-button,
#standard-button {
  font-size: 1rem;
  font-weight: bold;
  color: #013238; /* Text color (dark green) */
  background-color: #ffffff; /* White background */
  border: 2px solid #ffffff; /* White border */
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #fdef91; /* Soft yellow hover effect */
    color: #013238; /* Text color for hover (dark green) */
    border-color: #013238; /* Border changes to match text */
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

/* Spacing for buttons inside navbar */
.navbar-right a {
  margin-left: 10px;
}

/* Positioning the logout button */
#logout-button {
  margin-left: auto; /* Pushes the logout button to the far right */
  font-size: 1rem;
  font-weight: bold;
  color: #013238; /* Text color (dark green) */
  background-color: #ffffff; /* White background */
  border: 2px solid #ffffff; /* White border */
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #fdef91; /* Soft yellow hover effect */
    color: #013238; /* Text color for hover (dark green) */
    border-color: #013238; /* Border changes to match text */
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}
