/* Variables de couleur */
$input-bg: #b5cdbf;
$primary-color: #b5cdbf; // Couleur principale pour contraste du texte

.register-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/images/background.png') no-repeat center center;
  background-size: cover; /* S'assure que l'image couvre toute la page */
  background-color: #013238;

  .register-form {
    position: relative;
    z-index: 2;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    background-color: #ffffff;
    opacity: 0.9;

    transform: translateY(-8%);

    .form-title {
      color: #013238;  
      font-size: 24px;  
      margin-bottom: 30px; 
      font-weight: bold;
    }

    .logo-icon::before {
        content: '';
        display: block;
        width: 300px;
        height: 200px;
        margin: 0 auto; // Centre l'icône horizontalement
        background-image: url('../../assets/images/logoVert.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

    .input-group {
      position: relative;
      margin-bottom: 20px;
      
      .error-message {
        margin-top: 10px;
        font-size: bold;
      }

      i {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: #888;
      }

      .icon-lock {
        font-size: 20px;
      }

      input {
        padding: 10px 10px 10px 40px;
        border: 2px solid #013238;
        border-radius: 4px;
        background-color: transparent;
        color: #013238;
        font-size: 16px;

        &::placeholder {
          color: #013238;
          opacity: 0.7;
        }
      }
    }

    .btn-register {
      width: 70%;
      padding: 10px;
      border: 2px solid #ffffff;
      border-radius: 4px;
      background-color: transparent;
      color: #ffffff;
      background-color: #013238;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($input-bg, 10%);
      }
    }
  }
}